html {
    font-family: Verdana;
}

.container {
    width: 100%;
    margin: auto;
}

body {
    background-image: url(https://blog.lexmed.com/images/librariesprovider80/blog-post-featured-images/limes.tmb-xlarge.jpg?sfvrsn=2e28920b_1);
    margin: 0;
    padding: 0;
}

header {
    background-color: #2D2D2A;
    display: flex;
    height: 5rem;
}

header img {

}

nav {
    background-color: #2D2D2A;
    width: 100%;
    height: 100%;
}

ul {
    background-color: #2D2D2A;
    display: flex;
    list-style-type: none;
    justify-content: right;
    padding: 0;
    margin: 0;
    height: 100%;
}

li {
    background-color: #2D2D2A;
    width: 12.5rem;
    height: 100%;
}

li a {
    background-color: #2D2D2A;
    color: floralwhite;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 5rem;
    text-decoration: none;
}

main {
    text-align: center;
    display: block;
    flex-wrap: wrap;
}

h3 {
    font-size: 3rem;
    text-align: left;
}

section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 5rem 0 5rem 0;
}

h3 {

}

article {

    background-color: #2D2D2A;
    color: floralwhite;
    box-sizing: border-box;
    width: 32%;
    margin: 5px;
}

main img {
    width: 100%;
    height: 200px;
    object-fit: cover
}

section img {
    height: 200px;
    width: 300px;
    object-fit: cover
}

